name: Demo pull with tags

on:
  workflow_dispatch:
  pull_request:
    branches: [master]
    # types: [opened, synchronize, reopened, ready_for_review]
    
permissions:
  contents: write
  pull-requests: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # - name: Check Python
      #   run: |
      #     which python
      #     python --version

      - name: Import GPG key
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.gnupg
          chmod 700 ~/.gnupg

          echo "$GPG_PRIVATE_KEY" | gpg --batch --import

          echo "allow-loopback-pinentry" >> ~/.gnupg/gpg-agent.conf
          echo "pinentry-mode loopback"   >> ~/.gnupg/gpg.conf
          gpgconf --kill gpg-agent || true

      - name: Unlock GPG key
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          GPG_KEY_ID: "C717C73992E1F4FE1F93B6D02F7DE4F2F3EE04BD"
        run: |
          export GPG_TTY=$(tty)

          echo "test" | gpg --batch --yes --pinentry-mode loopback \
            --passphrase "$GPG_PASSPHRASE" \
            -u "$GPG_KEY_ID" -s > /dev/null

      - name: Configure Git for signing
        env:
          GPG_KEY_ID: "C717C73992E1F4FE1F93B6D02F7DE4F2F3EE04BD"
        run: |
          git config --global user.name  "bodrovis"
          git config --global user.email "golosizpru@gmail.com"

          git config --global user.signingkey "$GPG_KEY_ID"

          git config --global commit.gpgsign true
          git config --global gpg.program gpg

      - name: Pull from Lokalise
        id: lokalise-pull
        uses: lokalise/lokalise-pull-action@add_signed_commits
        with:
          api_token: ${{ secrets.LOKALISE_API_TOKEN }}
          project_id: 5868381966b39e5053ff15.63486389
          translations_path: messages
          # override_branch_name: lokalise-sync
          flat_naming: true
          file_format: json
          file_ext: json
          skip_include_tags: true
          git_sign_commits: true
          git_user_name: "my-bot-user"
          git_user_email: "my-bot-user@users.noreply.github.com"
          # force_push: true
 
      # - name: Pull from Lokalise again
      #   id: lokalise-pull2
      #   uses: lokalise/lokalise-pull-action@main
      #   with:
      #     api_token: ${{ secrets.LOKALISE_API_TOKEN }}
      #     project_id: 5868381966b39e5053ff15.63486389
      #     translations_path: messages
      #     # override_branch_name: lokalise-sync
      #     flat_naming: true
      #     file_format: yaml
      #     file_ext: yaml
      #     # pr_draft: true
      #     # pr_assignees: bodrovis
      #     # async_mode: true
      #     skip_include_tags: true
      #     # force_push: true

      - name: Debug Created Branch
        run: |
          echo "Branch used:   ${{ steps.lokalise-pull.outputs.created_branch }}"
          echo "PR exists:     ${{ steps.lokalise-pull.outputs.pr_exists }}"
          echo "PR created:    ${{ steps.lokalise-pull.outputs.pr_created }}"
          echo "PR updated:    ${{ steps.lokalise-pull.outputs.pr_updated }}"
          echo "PR action:     ${{ steps.lokalise-pull.outputs.pr_action }}"
          echo "PR number:     ${{ steps.lokalise-pull.outputs.pr_number }}"
          echo "PR id:         ${{ steps.lokalise-pull.outputs.pr_id }}"
          echo "PR url:        ${{ steps.lokalise-pull.outputs.pr_url }}"
      
      # - name: Trigger Automerge Workflow
      #   if: steps.lokalise-pull.outputs.created_branch != '' && steps.lokalise-pull.outputs.pr_created == 'true'
      #   uses: actions/github-script@v7
      #   with:
      #     github-token: ${{ secrets.PAT_TOKEN }}
      #     script: |
      #       await github.rest.actions.createWorkflowDispatch({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         workflow_id: "automerge.yml",
      #         ref: "${{ steps.lokalise-pull.outputs.created_branch }}",
      #       });
  
      # - name: Inspect Pull Requests
      #   run: gh pr list --state open --json number,headRefName,labels,baseRefName,title
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: List All PRs with Merge Status
      #   run: gh pr list --state open --json number,mergeable,mergeStateStatus,headRefName,baseRefName,labels,title
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}