name: Demo pull with tags

on:
  workflow_dispatch:
  pull_request:
    branches: [master]
    # types: [opened, synchronize, reopened, ready_for_review]
    
permissions:
  contents: write
  pull-requests: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Lokalise CLI v2
        uses: lokalise/install-lokalise-cli-v2@master
        with:
          force-install: true         
          target-version: 3.1.3 

      - name: Check CLI
        run: |
          lokalise2 --version

      # - name: Check Python
      #   run: |
      #     which python
      #     python --version
          
      # - name: Pull from Lokalise
      #   id: lokalise-pull
      #   uses: lokalise/lokalise-pull-action@main
      #   with:
      #     api_token: ${{ secrets.LOKALISE_API_TOKEN }}
      #     project_id: 5868381966b39e5053ff15.63486389
      #     translations_path: messages
      #     # override_branch_name: lokalise-sync
      #     flat_naming: true
      #     file_format: json
      #     file_ext: json
      #     skip_include_tags: true
      #     # force_push: true
 
      # - name: Pull from Lokalise again
      #   id: lokalise-pull2
      #   uses: lokalise/lokalise-pull-action@main
      #   with:
      #     api_token: ${{ secrets.LOKALISE_API_TOKEN }}
      #     project_id: 5868381966b39e5053ff15.63486389
      #     translations_path: messages
      #     # override_branch_name: lokalise-sync
      #     flat_naming: true
      #     file_format: yaml
      #     file_ext: yaml
      #     # pr_draft: true
      #     # pr_assignees: bodrovis
      #     # async_mode: true
      #     skip_include_tags: true
      #     # force_push: true

      # - name: Debug Created Branch
      #   run: |
      #     echo "Branch used:   ${{ steps.lokalise-pull.outputs.created_branch }}"
      #     echo "PR exists:     ${{ steps.lokalise-pull.outputs.pr_exists }}"
      #     echo "PR created:    ${{ steps.lokalise-pull.outputs.pr_created }}"
      #     echo "PR updated:    ${{ steps.lokalise-pull.outputs.pr_updated }}"
      #     echo "PR action:     ${{ steps.lokalise-pull.outputs.pr_action }}"
      #     echo "PR number:     ${{ steps.lokalise-pull.outputs.pr_number }}"
      #     echo "PR id:         ${{ steps.lokalise-pull.outputs.pr_id }}"
      #     echo "PR url:        ${{ steps.lokalise-pull.outputs.pr_url }}"
      
      # - name: Trigger Automerge Workflow
      #   if: steps.lokalise-pull.outputs.created_branch != '' && steps.lokalise-pull.outputs.pr_created == 'true'
      #   uses: actions/github-script@v7
      #   with:
      #     github-token: ${{ secrets.PAT_TOKEN }}
      #     script: |
      #       await github.rest.actions.createWorkflowDispatch({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         workflow_id: "automerge.yml",
      #         ref: "${{ steps.lokalise-pull.outputs.created_branch }}",
      #       });
  
      # - name: Inspect Pull Requests
      #   run: gh pr list --state open --json number,headRefName,labels,baseRefName,title
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: List All PRs with Merge Status
      #   run: gh pr list --state open --json number,mergeable,mergeStateStatus,headRefName,baseRefName,labels,title
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}